<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2 id="log-in-title">Регистрация</h2>
    <div class="auth-form well">
    <%= form_for(User.new, url: signup_path,  html: { multipart: true }) do |f| %>

      <%=f.label :username%>
      <div class="input-group">

          <%= f.text_field :username, class: "form-control"%>
      </div>
          <%=f.label :email%>
          <div class="input-group">

            <%= f.text_field :email, class: "form-control"%>
          </div>
          <div class="input-group">

            <%= f.file_field :avatar, class: "form-control"%>
          </div>


      <div class="actions">
        <%= f.submit "зарегестрироваться", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>

      <%= render partial: 'layouts/flash_errors'%>
  </div>
</div>

